/**
 * Style for annotations list
 */

@import-once "variables.less";
 

#list-container{
    
    @min-height: 300px;

    .navbar .dropdown {
        visibility: hidden;
    }
    
    &.expanded {
        //min-height: @min-height;
        .navbar .dropdown {
            visibility: visible;
        }
    }

    #content-list{
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 55px;
    }
    
    a.proxy-anchor{
        display: none;
    }

    i.check{
        visibility: hidden;
    }

    .checked i.check{
        visibility: visible;
    }
    
    div.annotation{
        background-color: @white;
        margin-top: 2px;
        border-left: 1px solid @gray;      
        border-right: 1px solid @gray;      

        .creator {
            display: none;
        }

                
        &:first-child {
            border-top: none;
        }
                       
        &:hover{
          cursor: pointer;   
        }
               
        &.selected {
            border: 1px solid @red;      
                    
            .header-container{
                        background-image: url("../img/annotation/pattern.png");
                background-repeat: repeat-x;
                background-position: top;
            }
        }

        /* Layout of headerbar*/

        @headerHeight: 16px; 
        @headerPadding: 2px;
        @headerSumHeight: @headerHeight+(2*@headerPadding);
      
        .header-container {
            margin: 0;
            height: @headerSumHeight;
            line-height: @headerSumHeight;
            padding: 0 5px;
            background-color: @grayLighter;

            .right {
                float: right;
                padding: 0;
                height: @headerSumHeight;   
                margin-right: 10px
            }   
            
            .left {
                overflow:hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: @headerSumHeight;
            }               
            
            button {
                  height: @headerSumHeight;
                  border: 1px solid @btnBorder;
                  .box-sizing(border-box);
                  padding: @headerPadding;
                  vertical-align: top;
                  line-height: headerHeight;        
            }           
        }   
                
                
        /* Content Elements in headerbar*/

        .edit {
            display: none;
            visibility: hidden;
        }

        .read-only {
            display: inline-block;
        }

        .comment-amount {
            float:right;
            font-size: 9px;
            line-height: 10px;
            text-align: center;
            width: 15px;
            font-style:normal;                  
        }

        &.edit-on {

            i.toggle-edit{

                .icon-ok(); 
            }

            span.label {
                display: block;
                height: 20px;
                line-height: 20px;
            }

            .edit {
                display: inline-block;
                visibility: visible;
            }

            .start,.end  {
                background:@white;
                &.no-duration {
                    display: inline-block;
                }
            }

            .read-only {
                display: none;
            }
        }
        
        i{    
            &.delete, &.toggle-edit{
               visibility: visible;
            }
            
            //Highlight clickable icons on mouseover           
            &.icon-chevron-down, &.icon-chevron-right, &.icon-trash, &.icon-pencil {
                &:hover {
                    .iconHover();
                }
            }
        }
        

        .start,.end{
            cursor: text;
            display: inline-block;
            position: relative;
            color: @black;
            background-color: fade(@white,60%);

            &.no-duration {
                display: none;
            }
                        
            input{
                width: 65px;
                border: none;
                position: relative;
                z-index: 300;
                margin: 0;
                padding: 0;             
                box-shadow: none;
                color: @black;
                text-align: center;
                font-family: monospace;
                background:@white;

                &[disabled] {
                    background:transparent;
                    z-index: 100;
                    border: none;
                    cursor: text;
                }

                &.error {
                    color: @red;
                    font-weight: bold;
                }
            }

            .start-btn, .end-btn {
                position: absolute;
                left: 0%;
                right: 0%;
                top:0;
                z-index: 150;
                width: 65px;
                height: @headerHeight;
            }
        }
                
        span.scaling{

            select {
                width: 60px;
                height: @headerSumHeight;
                padding: @headerPadding;
                margin: 0;
                font-size: 0.85em;
                color: @white;
                background-color: @black;
                border: none; 
                vertical-align:top;                                        
            }

            span {
                background-color: @black;
                color: @white;
                height: @headerHeight;
                padding: @headerPadding;                
                font-weight: bold;
                min-width: @headerHeight;
                max-width: 4*@headerHeight;
                text-overflow: ellipsis;
                overflow:hidden;
                font-size: 0.9em;
                display: inline-block;
                text-align: center;
                vertical-align:top;
            }
        }               
                
        span.category{
                    color: @gray;

                    span.abbreviation {
                        color: @black;
                        font-weight: bold;
                    } 

                    span.category-name {
                        display: none;
                    }              
        }               

        /* Content elements in body*/
            
        span.text{
            display: block;
          margin: 5px;
          background-color: white;
        }

        span.freetext {
            textarea {
            width: 97.5%;
            resize:vertical;
          }
        }
       
        span.track{
            display:none;
          background-color: lighten(#005580,20%);
          color: white;
          padding: 3px;
          font-size: 0.90em;  
        }
        
        span.user{
            display:none;
          font-style: italic;
          font-weight: bold;
        }
    }



    div.comments-container {
      background-color: @grayLight;
      color: @black;
      overflow: hidden;

      
      textarea { 
                resize:vertical;  
            }
            
            .button-bar {
                    text-align: right;
                    button {
                        margin-bottom: 5px;
                    }
                }
      
      .comment-header {

                padding: 2px;
                    
                span.add-comment {
                    line-height: 16px;
                    min-height: 16px;
                    display: block;
                    text-align:right;
                    margin-right: 10px;    

                    a.add-comment {     
                        color: @grayDark;
                    }
                }
                

            }
            
        .comment-list {
        
          font-size: 0.92em;
          padding: 2px; 

                > div[id^="comment"] {
                    padding: 5px;

                    &:nth-child(odd) {
                        background-color:@grayLighter;
                    }  
                    &:nth-child(even) {
                        background-color:@white;
                    }                           
                    span.header {
                        display: block;
                        font-size: 1em;
                        
                        .username {
                            color: @black;
                            font-weight: bold;
                        }
                        .date {
                            color: #707070;
                        }
                    }           
                    span.text {
                        background-color: transparent;
                        margin: 0;
                    } 
                }   
            }
    }

    .comments-container.collapse {
      padding: 0px;
    }

    i.delete-comment {
      float: right;
      margin-left: 5px;
    }
    i.edit-comment {
      float: right;
      margin-left: 5px;
    }

}

.collapse-comment i {
  float: left;
  margin-right: 5px;
}
.collapse-comment {
    //.collapse();
}